%html
  %head
    %title= @name
    :css
      .req ul li p {display: inline}
  %body
    %div
      %a{:href => to("/")} Return to Summary
      |
      - if @date.nil?
        %a{:href => to("/d/#@name/edit")} Edit the document
        |
      %a{:href => to("/d/#@name/history")} History

    %h1= @name
    = @doc.to_html
