%html
  %head
    %title= @name
    :css
      .req ul li p {display: inline}
  %body
    %div
      - if @name != "index"
        %a{:href => to("/index")} Return to Summary
        |
      - if @date.nil?
        %a(href="#{@name}/edit") Edit the document
        |
      %a(href="#{@name}/history") History

    = @doc.to_html
