%html
  %head
    %title= @name
    :css
      .req ul li p {display: inline}
  %body
    %div
      %a#summary{:href => to("/")} Return to Summary
      |
      - if @date.nil?
        %a#edit{:href => to("/d/#@name/edit")} Edit the document
        |
      %a#history{:href => to("/d/#@name/history")} History
      |
      %a#download-or{:href => to("/d/#@name.or.gz")} Download

    %h1= @name
    = @doc.to_html
