%html
  %head
    %title= @name
    :css
      .req ul li p {display: inline}
  %body
    %div
      %a(href="#{@name}/edit") Edit the document
    - if @name != "index"
      %div
        %a{:href => to("/index")} Return to Summary
    = @content
