%html
  %body
    %form(method="post")
      %strong Attributes
      %ul
        - @attributes.each do |k,v| 
          %li #{k}: 
          %input(name=k value="#{v}")
        %li
          %input(name="key")
          \:
          %input(name="value")
      %strong Text
      %br
      %textarea(name="content" cols=80 rows=20)= @content
      %p
      %input(type="submit" value="Sauver")

