%html
  %head
    %title= @name
    :css
      .remove {background-color: #fdd; text-decoration: line-through;}
      .add {background-color: #dfd;}
      .req ul li p {display: inline}
  %body
    = @diff.to_html
