%html
  %head
    %title= @name
    :css
      .remove {background-color: #fdd; text-decoration: line-through;}
      .add {background-color: #dfd;}
      .req ul li p {display: inline}
  %body
    %h1
      %a#history{:href => to("/d/#@name/history")}= @name
    = @diff.render
