%html
  %head
    %link(rel="alternate" type="application/rss+xml" title="Doc history RSS feed" href="history.rss")
    %title #{@name} - History
  %body
    %h2
      %a#main_link{:href => to("/d/#@name")}= @name
    %ul
      - @dates.each do |date|
        %li
          %a.version{:href => to("/d/#@name/#{date.iso8601}")}= date.strftime("%F %T")
          %a.diff{:href => to("/d/#@name/#{date.iso8601}/diff")} (diff)
