%html
  %head
    %title= @name
    :css
      .remove {background-color: #fdd; text-decoration: line-through;}
      .add {background-color: #dfd;}
      .req ul li p {display: inline}
      .req .id {font-weight: bold}
      .req .edit, .req .origin {display: none}
  %body
    %h1
      %a#history{:href => to("/#@name/history")}= @name
    = @diff.render
