%html
  %body
    %form(method="post")
      %h2 Attributes
      %ul
        - @req.attributes.each do |k,v| 
          %li 
            %textarea(name="#{k}" cols=15 rows=1)= k
            \: 
            %textarea(name="v#{k}" cols=80 rows=3)= v
        %li
          %input(name="key")
          \:
          %input(name="value")
      %h2 Text
      %textarea(name="content" cols=80 rows=40)= @req.content
      %p
      %input#save(type="submit" value="Sauver")

