%h2
  %a{:href => to("/d/#@name")}= @name
%ul
  - @dates.each do |date|
    %li
      %a{:href => to("/d/#@name/#{date.iso8601}")}= date.strftime("%F %T")
      %a{:href => to("/d/#@name/#{date.iso8601}/diff")} (diff)
