%html
  %head
    %title= @name
    :css
      .req ul li p {display: inline}
  %body
    %div
      - if @date.nil?
        %a#edit{:href => to("/#@name/edit")} Edit the document
        |
      %a#history{:href => to("/#@name/history")} History
      |
      %a#download-or{:href => to("/#@name.or.gz")} Download

    = @doc.to_html
