%html
  %head
    %title #{@doc} - Traceability
  %body
    %ul
      %table{:border => "1"}
        - @reqs_traceability.each do |req, linked_reqs|
          - first = true
          - if linked_reqs.nil?
            %tr
              %td=req.name
              %td=req.content
              %td
              %td
          - else
            - linked_reqs.each do |linked_req|
              - if first
                %tr
                  %td{:rowspan => linked_reqs.length}=req.name
                  %td{:rowspan => linked_reqs.length}=req.content
                  %td=linked_req.name
                  %td=linked_req.content
                  - first = false
              - else
                %tr
                  %td=linked_req.name
                  %td=linked_req.content
